/* font-family: "Open Sans", sans-serif; 

azul: #2e64a1
*/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    /*por defecto está en 16px*/
    line-height: 20px;
    /*alto de línea*/
}

header {
    background-color: #2e64a1;
    padding-top: 20px;
}

/*compuesto (header logo h1, por ej) o h1 directamente: */
header h1 {
    color: white;
    font-weight: 100;
    font-style: italic;
    /* display: inline-flex; se puede usar flexbox!*/
    display: inline-block;
    position: relative;
    /*como ej en el sitio, el resto con caja flexible*/
    bottom: 35px;
    /*lo sube > Transportes X */
}

nav {
    background-color: #6da9ed;
    margin-bottom: 20px;
}

nav ul {
    /* tridente en nav: */
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* para que se distribuya horizontalmente la botonera (Home, etc)*/
}

nav ul li {
    flex-grow: 1;
    /* para que se espacie la botonera^ */
}

/*flex-grow especifica el factor de crecimiento de un elemento flexible (que tiene asignado display:flex), 
en su dirección principal. 
Éste factor especifica qué cantidad del espacio restante dentro del contenedor flexible, debería ocupar el item en cuestión.*/

nav ul li a {
    color: white;
    text-decoration: none;
    /*le quita la underline del hipervínculo*/
    /* background-color: orange; */
    padding: 3px 0;
    display: flex;
    /*para que quede en bloque*/
    justify-content: center;
}

/*hover: pseudoclase útil para <a> o <div>*/
nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo {
    background-color: #4c76a5;
}

footer {
    background-color: #ccc;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
    /* separación entre elemento y elemento en todas las páginas! */
}

/*clase tipo .contenedor*/
.holder {
    /* width: 960px; */
    max-width: 960px;
    margin: 0 auto;
    /* background-color: orange; */
}

h2 {
    color: #2e64a1;
    font-weight: 400;
}

/* inicio home */

.homeimg img{
    max-width: 100%;


}


.columnas {
    display: flex;
}

.bienvenidos {
    width: 75%;
    padding-right: 20px;
    /* background-color: yellow; >para ver las diferencias del maquetado después se saca*/
}

.testimonios {
    width: 25%;
}

.bienvenidos p {
    font-size: 20px;
}

.testimonio {
    /* width: 25%; */
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    display: block;
    /*lo baja*/
}

.testimonio .autor {
    font-size: 12px;
    display: block;
    /*para poder centrarlo (sobra espacio en su cajita a diferencia del inline-flex)*/
    background-color: lightcoral;
    /*en el original no está, es ej*/
    text-align: center;
    margin: 16px 0;
}

/*testimonio-s trabajaban con span > block*/

/* fin home */


/* inicio nosotros */
.historia p {
    font-size: 12px;
}

.personas {
    display: flex;
    justify-content: space-between;
    /*acá puedo usar cualquiera de las 3 opc*/
}

.persona {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 18%;
    padding: 12px;
    box-sizing: border-box;
    /*para que contemple el padding, el border y respete el width. Si se usa padding/border este atributo fija también*/
}

.persona img {
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    width: 40%;
    margin: 10px 0 12px;
}

.persona h5,
.persona h6 {
    color: #2e64a1;
    margin: 0;
    font-weight: normal;
}

.persona h5 {
    font-size: 14px;
}

.persona h6 {
    font-style: italic;
    font-size: 13px;
}

.persona p {
    font-size: 12px;
}

/* fin nosotros */


/* inicio contacto */

.contacto {
    display: flex;
    gap: 30px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
}

/* .formulario p {
    display: flex;
    /*para marcar los 80px de label > hace que label + input estén en la misma línea
} */

.formulario p label {
    min-width: 100px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.formulario p input,
.formulario p textarea {
    width: 100%;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.formulario p textarea {
    resize: none;
    height: 150px;
}

/* .formulario p:nth-child(4){ /*Comentario, 4°hijo-hermano
    background-color: orange;
    align-items: start;
} */

.formulario input[type="submit"] {
    background-color: #6da9ed;
    width: auto;
    /*none no funciona sino su valor por default*/
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    /* position: relative;
    left: 100px; */
}

.formulario input[type="submit"]:hover {
    background-color: #2e64a1;
}


/* text-align > p
display flex, justify content: center > p */

/* fin contacto */

/*
:hover de enviar 
ajustar input/textarea > otras vías = gap en .contacto
nombre > medio del rect amarillo eje vertical
iconos > cuales serían los pasos
*/

/* inicio @media 550 */

@media screen and (max-width:550px){

    /* home */
    .columnas{
        flex-direction: column;
    }

    .bienvenidos,
    .testimonios{
        width: 100%;
    }

    .holder{
        padding: 0 16px;
    }

    .personas{
        flex-wrap: wrap;
        gap: 16px;
    }

    .persona{
        width: 47%;
    }

    /*contacto*/
    .contacto{
        flex-direction: column;
    }

    /* .datos{
        display: none;
    } >Para que no sea visible*/

    header .holder{
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 16px 0;

    }

    header h1{
        position: static;
        margin-left: 10px;
        /* display: none; > si me molesta el título SE ACOMODA EN EL MEDIO INDISTINTAMENTE*/
        font-size: 27px;
    }

    header img{
        width: 80px;
    }

}
/* fin @media 550 */

@media screen and (max-width:320px){

nav ul.holder{
    flex-direction: column;
    padding: 0;
}

}










































